<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Tatabouf ?</title>
    <link rel="stylesheet" href="~/Content/stylesheet.css?v=2">
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="cache">&nbsp;</div>
    <div class="main">
        <div class="inner">
            <header>
                <h1>Tatabouf ?</h1>
            </header>
            <section>
                @RenderBody()

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/jqueryval")
                @RenderSection("scripts", required: false)
            </section>
        </div>
        <!-- /.inner -->
    </div>
    <!-- /.main -->
    <script type="text/javascript">
    $(function() {
        $('.actions .edit').on('click', onEditClick);
        $('.actions .remove').on('click', showDeletePopup);
        $('#btn-confirm-yes').on('click', onRemoveClick);
        $('#btn-confirm-no').on('click', onCancelClick);
        $('.formulaire .actions .save').on('click', function () {
            $("form").submit();
        });
    });
   </script>
</body>
</html>