@{
    ViewBag.Title = "Popup";
    Layout = null;
}

<div>
    @RenderBody()
</div>

<script type="text/javascript">
    $(function () {
        alert('loaded !');
        $('img.save').on('click', function () {
            $("form").submit();
        });
    });
</script>